<div class="header">
    <h2> Application<button id="myBtn" class="header__button--add">Add Post</button></h2>
 </div>
 
 <div ng-controller="homeController">
    <div id='{{content.id}}' class="blockMain" ng-repeat="content in contents">
       <strong>User ID: </strong><label>{{content.userId}}</label><br>
       <strong>ID: </strong><label>{{content.id}}</label><br>
       <strong>Title: </strong><label>{{content.title}}</label><br>
       <div class="threeButtons">
          <button class="threeButtons__button--view">View</button>
          <button class="threeButtons__button--update">Update</button>
          <button class="threeButtons__button--delete">Delete</button>
       </div>
    </div>
</div>
